.meet-section{
    background-size: cover;
    background-image: url(./images/banner1.png);
    
    height: 80%;
    margin: auto;
    padding: 20px;
    
    margin-bottom: 50px;
}
.meet-pic{
    width: 40%;
}